{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = checkDetails.title %}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "bav - checkDetails" %}
{% set isPageDataSensitiveFlag = false %}
{% set contentID = '0962fcea-9df2-42bf-bfcf-c618b0fbfba4' %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% block mainContent %}

  <div>
    <h1 id="check-details-header" class="gov" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
      {{ translate("checkDetails.title") }}
    </h1>

    {{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-6',
  rows: [
    {
      key: {
        text: translate("checkDetails.fullName")
      },
      value: {
        text: fullName
      }
    },
    {
      key: {
        text: translate("checkDetails.sortCode")
      },
      value: {
        html: sortCode
      },
      actions: {
        items: [
          {
            href: "/enter-account-details/edit?edit=true",
            text: translate("checkDetails.changeLink"),
            visuallyHiddenText: translate("checkDetails.sortCode")
          }
        ]
      }
    },
    {
      key: {
        text: translate("checkDetails.accountNumber")
      },
      value: {
        html: accountNumber
      },
      actions: {
        items: [
          {
            href: "/enter-account-details/edit?edit=true",
            text: translate("checkDetails.changeLink"),
            visuallyHiddenText: translate("checkDetails.accountNumber")
          }
        ]
      }
    }
  ]
})
}}

    {% set insetBody %}
    {{- "checkDetails.insetText" | translate -}}
    {% endset %}

    {{ govukInsetText({
  html: insetBody
}) }}

    {% call hmpoForm(ctx) %}
    {{ hmpoSubmit(ctx, {id: "submitDetails", 
     text: translate("checkDetails.submitDetails"),
     attributes: {
      "data-testid": "confirm-details-continue-btn", 
      "data-nav": true, 
      "data-link": "/undefined"
    }
  }) }}

    {% endcall %}

    <p>
      <a href={{ "landingPage.howContinueBankLanding.howContinueBankLink" | translate }}>
        {{ "landingPage.howContinueBankLanding.howContinueBankText" | translate }}</a>
    </p>

  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script nonce="{{ cspNonce }}">

    var formSubmitted = false;

    submitSpinner()

    function delayDisableButton(button) {
      button.className += ' button--spinner'
      setTimeout(function () {
        button.setAttribute('disabled', true)
      }, 200);
    }

    function submitSpinner() {
      var select = document.getElementById('submitDetails')

      select.addEventListener('click', function (event) {
        if (!formSubmitted) {
          formSubmitted = true;

          delayDisableButton(event.target);
        } else {
          event.preventDefault()
        }
      })
    }
    window.addEventListener('load', function () {
      window
        .DI
        .analyticsGa4
        .pageViewTracker
        .trackOnPageLoad({
          statusCode: '200', // Access status code
          isPageDataSensitiveFlag: isPageDataSensitiveFlag,
          englishPageTitle: '{{translate("checkDetails.title")}}',
          taxonomy_level1: 'web cri', // Access taxonomy level 1
          taxonomy_level2: 'bav', // Access taxonomy level 2
          taxonomy_level3: 'undefined',
          taxonomy_level4: 'undefined',
          taxonomy_level5: 'undefined',
          content_id: contentID,
          logged_in_status: true,
          dynamic: false
        });
    });
  </script>
{% endblock %}