{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = confirmDetails.title %}
{% set hmpoPageKey = "confirmDetails" %}
{% set gtmJourney = "bav - confirmDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 id="confirm-details-header" class="gov" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("confirmDetails.title") }}
    </h1>
  </div>
</div>

{% if (values.middleName) %}
  {% include "../components/confirm-details-middle-name.njk" %}
{% else %}
  {% include "../components/confirm-details-no-middle-name.njk" %}
{% endif %}

{% set insetBody %}
  {{- "confirmDetails.insetText" | translate -}}
{% endset %}  

{{ govukInsetText({
  html: insetBody
}) }}

{% call hmpoForm(ctx) %}
    {{ hmpoSubmit(ctx, {id: "submitDetails", text: translate("confirmDetails.submitDetails")}) }}
{% endcall %}

<p class="bav__instruction"><a href={{ "landingPage.confirmIdentityAnotherWay.abortLink" | translate }}> {{ "confirmDetails.noSubmitDetails" | translate }}</a></p>

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
  {% endblock %}
{% endblock %}
