{% extends "base-form.njk" %}

{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% block content %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.landingPage.title" %}
{% set contentID = "5027231f-349d-40b3-8ac2-4e25ec48cf5e" %}
{% set taxLevel2 = 'bav' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" id="landingPageTitle">{{ "landingPage.title" | translate }}</h1>

    <p class="bav__instruction" id="info1">{{ "landingPage.infoText1" | translate }}</p>

    <p class="bav__instruction" id="list1-text">{{ "landingPage.list1.list1Text" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "landingPage.list1.list1Bullet1" | translate }}</li>
      <li>{{ "landingPage.list1.list1Bullet2" | translate }}</li>
      <li>{{ "landingPage.list1.list1Bullet3" | translate }}</li>
    </ul>

    <p class="bav__instruction" id="list2-text">{{ "landingPage.list2.list2Text" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "landingPage.list2.list2Bullet1" | translate }}</li>
      <li>{{ "landingPage.list2.list2Bullet2" | translate }}</li>
    </ul>

    <h2 class="govuk-heading-m" id="info-title">{{ "landingPage.infoTitle" | translate }}</h2>

    <p class="bav__instruction" id="list3-text">{{ "landingPage.list3.list3Text" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "landingPage.list3.list3Bullet1" | translate }}</li>
      <li>{{ "landingPage.list3.list3Bullet2" | translate }}</li>
    </ul>

    <p class="bav__instruction" id="info3">{{ "landingPage.infoText3" | translate }}</p>
    <p class="bav__instruction" id="info4">{{ "landingPage.infoText4" | translate }}</p>

    {{ govukDetails({
      summaryText: translate("landingPage.detailDropdown.summaryText"),
      html: translate("landingPage.detailDropdown.detailContent")
    }) }}

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {
        id: "landingPageContinue",
        text: translate("buttons.next"),
        attributes: {
          "data-nav": true,
          "data-link": "/enter-account-details"
        }
    }) }}
    {% endblock %}
    {% endcall %}

    <p><a href={{ "landingPage.howContinueBankLanding.howContinueBankLink" | translate }}> {{ "landingPage.howContinueBankLanding.howContinueBankText" | translate }}</a></p>


  </div>
</div>
{% endblock %}