{% extends "base-form.njk" %}
{% set hmpoPageKey = "couldNotMatch" %}
{% set hmpoTitle = couldNotMatch.title %}
{% set gtmJourney = "bav - howContinueBank" %}
{% set backLink = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block mainContent %}

  {% set title = translate("couldNotMatch.title") %}
  {% set content = translate("couldNotMatch.content") %}
  {% set prompt = translate("couldNotMatch.prompt") %} 
  {% set formInstructions = "<p>"+content+"</p><p class=\"govuk-heading-m\" id=\"couldNotMatchPrompt\">"+prompt+"</p>"%}

  {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {
            id: "couldNotMatchChoice",
            namePrefix: "couldNotMatchChoice",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
  
  {% endcall %}

{% endblock %} 

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
  {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
  {% endblock %}
{% endblock %}