{% extends "base-form.njk" %}
{% set hmpoPageKey = "couldNotMatch" %}
{% set hmpoTitle = couldNotMatch.title %}
{% set gtmJourney = "bav - howContinueBank" %}
{% set backLink = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.couldNotMatch.title" %}
{% set contentID = "da9d22db-1789-4a7c-90df-eeb6fe655a6d" %}
{% set taxLevel2 = 'bav' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

  {% set title = translate("couldNotMatch.title") %}
  {% set content = translate("couldNotMatch.content") %}
  {% set prompt = translate("couldNotMatch.prompt") %} 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-l" id="landingPageTitle">{{ title }}</h1>
      <p>{{ content }}</p>


  {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {
            id: "couldNotMatchChoice",
            namePrefix: "couldNotMatchChoice",
            fieldset: {
                legend: {
                    html: "<h2 class=\"govuk-!-margin-bottom-0\">What would you like to do?</h2>",
                    classes: "govuk-fieldset__legend--m"
                }
            }
        }) }}

  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"),
  attributes: {
    "data-nav": true,
    "data-link": "/undefined"
    }
}) }}
  
  {% endcall %}
{% endblock %}