{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = enterAccountDetails.title %}
{% set hmpoPageKey = "enterAccountDetails" %}
{% set gtmJourney = "bav - enterAccountDetails" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.enterAccountDetails.title" %}
{% if query.edit == "true" %}
  {% set contentID = "818c6116-acaf-4662-a746-0b3666bde53f" %}
{% else %}
    {% set contentID = "d8eb9268-5159-4544-bcac-56279c4a77d5" %}
{% endif %}
{% set taxLevel2 = 'bav' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

{% set isPageDataSensitive = false %}

<div>
    <h1 id="account-details-header" class="gov" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("enterAccountDetails.title") }}
    </h1>
    
    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    {{ hmpoText(ctx, {
        id: "sortCode",
        classes: "govuk-input--width-5 govuk-input--extra-letter-spacing"
    })}}

    {{ hmpoText(ctx, {
      id: "accountNumber",
      classes: "govuk-input--width-10 govuk-input--extra-letter-spacing"
    })}}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"),
     attributes: {
        "data-nav": true,
        "data-link": "/check-details"
    }
    }) }}

    {% endcall %}
</div>
{% endblock %}