{% extends "base-form.njk" %}
{% set hmpoPageKey = "howContinueBank" %}
{% set hmpoTitle = howContinueBank.title %}
{% set gtmJourney = "bav - howContinueBank" %}
{% set backLink = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block mainContent %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.howContinueBank.title" %}
{% set contentID = "6895171f-5ed3-489a-9163-d02083296684" %}
{% set taxLevel2 = 'bav' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

  {% set title = translate("howContinueBank.title") %}
  {% call hmpoForm(ctx) %}
    {{ hmpoRadios(ctx, {
      id: "howContinueBankChoice",
      namePrefix: "howContinueBankChoice",
      fieldset: {
          legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
          }
      }
    }) }}

    {{ govukWarningText({
        text: translate("howContinueBank.warning"),
        iconFallbackText: "Warning",
        classes: "govuk-!-padding-bottom-5"
      }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"),
    attributes: {
      "data-nav": true,
      "data-link": "/undefined"
    }
  }) }}

  {% endcall %}
{% endblock %} 