{% extends "base-form.njk" %}
{% set hmpoPageKey = "howContinueBank" %}
{% set hmpoTitle = howContinueBank.title %}
{% set gtmJourney = "bav - howContinueBank" %}
{% set backLink = false %}
{% set isPageDataSensitiveFlag = false %}
{% set contentID = '6895171f-5ed3-489a-9163-d02083296684' %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block mainContent %}

  {% set title = translate("howContinueBank.title") %}
  {% call hmpoForm(ctx) %}
  {{ hmpoRadios(ctx, {
      id: "howContinueBankChoice",
      namePrefix: "howContinueBankChoice",
      fieldset: {
          legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
          }
      }
    }) }}

  {{ govukWarningText({
        text: translate("howContinueBank.warning"),
        iconFallbackText: "Warning",
        classes: "govuk-!-padding-bottom-5"
      }) }}

  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"),
    attributes: {
      "data-nav": true,
      "data-link": "/undefined"
    }
  }) }}

  {% endcall %}
  <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
    window.addEventListener('load', function () {
      window
        .DI
        .analyticsGa4
        .pageViewTracker
        .trackOnPageLoad({
          statusCode: '200', // Access status code
          isPageDataSensitiveFlag: isPageDataSensitiveFlag,
          englishPageTitle: '{{translate("checkDetails.title")}}',
          taxonomy_level1: 'web cri', // Access taxonomy level 1
          taxonomy_level2: 'bav', // Access taxonomy level 2
          taxonomy_level3: 'undefined',
          taxonomy_level4: 'undefined',
          taxonomy_level5: 'undefined',
          content_id: contentID,
          logged_in_status: true,
          dynamic: false
        });
    });
  </script>
{% endblock %}