{% extends "base-form.njk" %}

{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" id="landingPageTitle">{{ "landingPage.title" | translate }}</h1>

    <p class="bav__instruction" id="info1">{{ "landingPage.infoText1" | translate }}</p>
    <p class="bav__instruction" id="info2">{{ "landingPage.infoText2" | translate }}</p> 

    <p class="bav__instruction" id="list1-text">{{ "landingPage.list1.list1Text" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "landingPage.list1.list1Bullet1" | translate }}</li>
      <li>{{ "landingPage.list2.list2Bullet2" | translate }}</li>
    </ul>

    <p class="bav__instruction" id="list2-text">{{ "landingPage.list2.list2Text" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "landingPage.list2.list2Bullet1" | translate }}</li>
      <li>{{ "landingPage.list2.list2Bullet2" | translate }}</li>
    </ul>

    <h1 class="govuk-heading-m" id="info-title">{{ "landingPage.infoTitle" | translate }}</h1>

    <p class="bav__instruction" id="list3-text">{{ "landingPage.list3.list3Text" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "landingPage.list3.list3Bullet1" | translate }}</li>
      <li>{{ "landingPage.list3.list3Bullet2" | translate }}</li>
    </ul>

    <p class="bav__instruction" id="info3">{{ "landingPage.infoText3" | translate }}</p>
    <p class="bav__instruction" id="info4">{{ "landingPage.infoText4" | translate }}</p>
    <p class="bav__instruction" id="info5">{{ "landingPage.infoText5" | translate }}</p>

    {{ govukDetails({
      summaryText: translate("landingPage.detailDropdown.summaryText"),
      html: translate("landingPage.detailDropdown.detailContent")
    }) }}

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {id: "landingPageContinue", text: translate("buttons.next")}) }}
    {% endblock %}
    {% endcall %}

    <p class="bav__instruction">{{ "landingPage.escapeJourneyLandingPage.escapeText1" | translate }}<a href={{ "landingPage.escapeJourneyLandingPage.escapeLink" | translate }}> {{ "landingPage.escapeJourneyLandingPage.escapeText2" | translate }}</a></p>


  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
  {% endblock %}
{% endblock %}