{{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-6',
    rows: [
      {
        key: {
          text: ""
        },
        value: {
          text: ""
        }
      },
      {
        key: {
          text: translate("confirmDetails.firstName")
        },
        value: {
          text: firstName
        }
      },
      {
        key: {
          text: translate("confirmDetails.lastName")
        },
        value: {
          text: lastName
        }
      },
      {
        key: {
          text: translate("confirmDetails.sortCode")
        },
        value: {
          html: sortCode
        },
        actions: {
          items: [
            {
              href: "/enter-account-details/edit",
              text: translate("confirmDetails.changeLink"),
              visuallyHiddenText: translate("confirmDetails.sortCode")
            }
          ]
        }
      },
      {
        key: {
          text: translate("confirmDetails.accountNumber")
        },
        value: {
          html: accountNumber
        },
        actions: {
          items: [
            {
              href: "/enter-account-details/edit",
              text: translate("confirmDetails.changeLink"),
              visuallyHiddenText: translate("confirmDetails.accountNumber")
            }
          ]
        }
      }
    ]
  })
}}