name: Pre-merge checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
  push:
    branches:
      - main

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - run: yarn prettier
      - run: yarn test
      - name: Install Playwright browsers
        run: yarn playwright install --with-deps
      - name: Run browser tests
        id: bavBrowserTests
        run: yarn test:browser:ci
        env:
            IPV_STUB_URL: ${{ secrets.IPV_STUB_URL }}
            API_BASE_URL: ${{ secrets.API_BASE_URL }}
            CUSTOM_FE_URL: http:/localhost:5040
            LANGUAGE_TOGGLE_DISABLED: false
      - name: Archive browser tests results
        uses: actions/upload-artifact@v6
        with:
          name: bav-code-coverage-report
          path: test/reports/bav-reports/

  sonar-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
      - name: "Run SonarCloud Scan"
        if: ${{ success() && github.actor != 'dependabot[bot]' }}
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
